.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
}

p {
  align-self: flex-start;
}

form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}